<Section id="about" >
<h1>About Us</h1>
<h3>I am a Master Student at FIT and this is a Web programming project written in
    C# with Microsoft Model View Controllers, SQL Server Database, IIS web server 
    and JavaScript. Bootstrap.js.  
        The genearl theme is a String Instrument Shoppe that sells Insturments 
    that are played with a bow, and music of various skill Levels.  We have a 
    number of instructors that make themselve available for lessons, each on a 
    single instrument and at various skill levels.  The fee is dependent on
    Skill level and we recieve 25% for orchestrating an appointment system.</h3>
</Section>